.btn {
  transition: all 0.2s;
  @apply px-4 py-2 rounded font-bold;
}

.input {
  @apply w-full outline-none border-0 bg-transparent font-serif;
}

hr.dots {
  margin-bottom: 1.5rem;
  border: none;
  letter-spacing: 1em;
  text-align: center;
}

hr.dots:before {
  content: '...';
}
