@font-face {
  font-family: 'Dubai';
  src: url('/fonts/DubaiW23-Bold.woff') format('woff'),
    url('/fonts/DubaiW23-Bold.woff2#Dubai-Bold') format('woff2');
  font-weight: bold;
  font-style: normal;
  unicode-range: U+0600-06FF, U+200C-200E, U+2010-2011, U+FB50-FDFF, U+FE80-FEFC;
}

@font-face {
  font-family: 'Dubai';
  src: url('/fonts/DubaiW23-Regular.woff') format('woff'),
    url('/fonts/DubaiW23-Regular.woff2#Dubai-Regular') format('woff2');
  font-weight: normal;
  font-style: normal;
  unicode-range: U+0600-06FF, U+200C-200E, U+2010-2011, U+FB50-FDFF, U+FE80-FEFC;
}
